# Globals for this run

# please first set up the path of the HIPPIE directory
export FLOWCELLPATH=/mnt/data/genomics/NGS/svn/GASPipe/trunk/hippie/test_data/Hi-C_Project

export GENOME_REF=$HIPPIE_HOME/REF/hg19/bigZips/hg19.fa
export GENOME_LEN=$HIPPIE_HOME/REF/hg19/database/human.hg19.genome
export GENOME_CHRM=$HIPPIE_HOME/REF/hg19/chromosomes
export CLASS_LENGTH=$HIPPIE_HOME/REF/hg19/database/hg19_genetic_annotation_length.txt
export GENOME_PATH=$HIPPIE_HOME/REF/hg19/database
BROAD_PATH=$HIPPIE_HOME/REF/hg19/ENCODE/Jan2011
DNASE_PATH=$HIPPIE_HOME/REF/hg19/ENCODE/wgEncodeAwgDnaseUniform

export DATA_TYPE="TILESFASTQ"
USESEG=0  # USESEG=0: Enhancers specified by covering H3K4me1 or K27ac and DNase, but not H3K27me3 or H3K4me3
          # USESEG=1: Enhancers specified by enhancers and weak enhancers from ENCODE Combined Segmentations tracks



export MBQ=20    #minimum base quality
export MMQ=20    #minimum mapping quality
export THRE=95

# Sequencing Project Name; do not confuse with FLOWCELL name
export PROJECTNAME=CCE

# PATH for RAW Data Directories
DATASET[1]=$FLOWCELLPATH/library1
DATASET[2]=$FLOWCELLPATH/library2

#SM:sample_name
sample[1]=library1
sample[2]=library2

#ID:readgroup_id
rgid[1]=hicK562_HindIII
rgid[2]=hicK562_HindIII

#READLENGTH:readlength
readlength[1]=76
readlength[2]=76

#REMEDIAN:restriction_enzyme_median_length
remedian[1]=2275
remedian[2]=2275

#pu: cell_line
pu[1]=XXXXX
pu[2]=XXXXX

#CELLLINE: cell_line
cell[1]=K562
cell[2]=K562

#RE: restriction_enzyme
re[1]=HindIII
re[2]=HindIII


